<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bestsolution.at/e4/jfx/xtext/JFXCss" 
       class = "at.bestsolution.e4.jfx.xtext.jFXCss.JFXCssPackage"
       genModel = "at/bestsolution/e4/jfx/xtext/JFXCss.genmodel" /> 
	
  </extension>





</plugin>
